<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/">
    <mat-icon>view_list</mat-icon>
    <span>Sites</span>
  </button>
  <button mat-menu-item [routerLink]="['/sites', 'new']" routerLinkActive="router-link-active" >
    <mat-icon>add</mat-icon>
    <span>Add New Site</span>
  </button>
</mat-menu>
  <span> {{title}} App</span>
</mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
