<div class="row mt-3">
    <div class="container">
        <h1>Site Configuration</h1>
    </div>
</div>
<div class="row">
    <div class="container">
            <div class="alert alert-primary" role="alert">
                <mat-icon>info</mat-icon>
                <p>Enter all the relevant site information in <em>Lower Case</em> and special characters like: <strong>Ö</strong>, <strong>Ü</strong>, <strong>Ä</strong>
                into their equivalent tranformed alphabets (e.g. <strong>OE</strong>, <strong>UE</strong>, <strong>AE</strong>) in order to avoid discrepency.</p>
            </div>
    </div>
</div>

<div class="row mt-5">
    <div class="container">
        <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
        <div formArrayName="sites">
            <div *ngFor="let site of dynamicForm.get('sites').controls; let i=index;" class="mt-2">
            <mat-card>
                <mat-card-header>    
                <mat-card-title-group>
                    <mat-card-title>Site - {{i + 1}} </mat-card-title>
                    <mat-card-subtitle>Add parameters for the Site</mat-card-subtitle>
                </mat-card-title-group>
                    <button mat-icon-button color="warn" (click)="deleteSite(i)">
                    <mat-icon>delete</mat-icon>
                    </button>
                </mat-card-header>
                
            <mat-card-content>
            <div class="site-container" [formGroupName]="i">
    
                <!-- Angular Material Form Layout -->
    
                <!-- Company -->
                <mat-form-field>
                <input matInput placeholder="Company Name" formControlName="company">
                </mat-form-field>
    
                <!-- Site Name -->
                <mat-form-field>
                <input matInput placeholder="Site Name" formControlName="siteName">
                <mat-hint>e.g.: factory or cold-storage</mat-hint>
                </mat-form-field>
    
                <!-- Country Code -->
                <mat-form-field>
                <mat-label>Country</mat-label>
                <mat-select formControlName="countryCode">
                    <mat-option *ngFor="let country of countriesList" [value]="country.code">
                    {{country.code}} ({{country.name}})
                    </mat-option>
                    </mat-select>
                </mat-form-field>
    
                <!-- City -->
                <mat-form-field>
                <input matInput placeholder="City" formControlName="city">
                </mat-form-field>
                
                <!-- Sensor Information -->
    
                <div formArrayName="sensors">
                <mat-card>
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>
                        Sensor Information
                        </mat-card-title>
                        <mat-card-subtitle>
                        Add the hardware addresses and the EPCIS Business Locations here
                        </mat-card-subtitle>
                    </mat-card-title-group>
                    </mat-card-header>
                    
                    <div *ngFor="let sensor of site.get('sensors').controls; let j=index">
                    <mat-card-content>
                    <!-- Angular Material for Sensors Layout -->
                        <div [formGroupName]="j">
                        
                            <!-- MAC Address of Sensor -->
                            <mat-form-field>
                            <input matInput placeholder="MAC Address" formControlName="mac">
                            </mat-form-field>
    
                            <!-- EPCIS Business Location of Sensor Placement -->
                            <mat-form-field>
                            <input matInput placeholder="Business Location" formControlName="bizLocation">
                            </mat-form-field>
                            
                            <!-- Remove Sensor Information Button -->
                            <button mat-mini-fab color="warn" (click)="deleteSensor(site.controls.sensors, j)">
                            <mat-icon>delete</mat-icon>
                            </button>
    
                        </div>
                        </mat-card-content>
                    
                    </div>
                    <mat-card-actions>
                    <button mat-mini-fab color="primary" (click)="addNewSensor(site.controls.sensors)">
                        <mat-icon>add</mat-icon>
                        </button>
                    </mat-card-actions>
                    
                </mat-card>
    
    
                </div>
    
            </div>
            </mat-card-content>
            </mat-card>
            </div>
            
    
        </div>
    
        </form>
        <div class="btn-group mt-3">
                <!-- <button mat-stroked-button color="primary" (click)="addNewSite()">
                        Add New Site
                </button> -->
                <button mat-raised-button color="primary" type="submit" [disabled]="!dynamicForm.valid" (click)="onSubmit()" *ngIf="dynamicForm.get('sites').controls.length">
                  {{ (siteId === 'new') ? 'Add Site' : 'Submit' }}
                </button>
        </div>
    </div>
</div>
  
  <pre>
    {{ finalData | json }}
  </pre>
