<div class="row">
  <div class="container mt-3">
    <h1>Overview</h1>
    <mat-progress-bar mode="query" *ngIf="loading"></mat-progress-bar>
  </div>
</div>
<div class="row">
  <div class="container">
      <div class="alert alert-danger" role="alert" *ngIf="error">
          <strong>Error Occured</strong> Please Try Again
      </div>
      <div *ngIf="!subscribedSites.length">
        <div class="jumbotron">
          No Sites Configured.
        </div>
      </div>
      <div *ngIf="subscribedSites.length" class="mt-2">
        <mat-accordion *ngFor="let site of subscribedSites; let i = index">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Site - {{i + 1}}
                </mat-panel-title>
                <mat-panel-description>
                  {{site.city | titlecase}}, {{site.countryCode}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <h3>Information</h3>
              <p>Site located at {{site.siteName |titlecase}} of {{site.company | titlecase}}.</p>
              <ul>
                <li *ngFor="let sensor of site.sensors">Sensor Address: <code>{{sensor.mac}}</code> located at <code>{{sensor.bizLocation}}</code></li>
              </ul>
              <button mat-raised-button color="warn" (click)="removeSite(i)"><mat-icon>delete</mat-icon>Remove Site</button>
              <button mat-raised-button [routerLink]="['/sites', site._id]" [routerLinkActive]="['active']" ><mat-icon>edit</mat-icon>Update Site Information</button>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
  </div>
</div>