<div class="container">
    <mat-accordion *ngFor="let site of subscribedSites; let i = index">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Site - {{i + 1}}
            </mat-panel-title>
            <mat-panel-description>
              {{site.city | titlecase}}, {{site.countryCode}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <h3>Information</h3>
          <p>Site located at {{site.siteName |titlecase}} of {{site.company | titlecase}}.</p>
          <ul>
            <li *ngFor="let sensor of site.sensors">Sensor Address: {{sensor.mac}} located at {{sensor.bizLocation}}</li>
          </ul>
          <button mat-raised-button color="warn" (click)="removeSite(i)">Remove</button>
        </mat-expansion-panel>
      </mat-accordion>
</div>